html {
    margin: 0;
    padding: 0;
    padding-right: 0;
}

body {
    margin: 0;
    padding: 0;
  padding-right: 0;
}

.reduce{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*...............................colors*/

.purple {
    background-color: purple;
}

.red{
    background-color: red;
}

.pink{
    background-color: pink;
}

.orange{
    background-color: orange;
}

.green{
    background-color: green;
}


.nav-bg {
    background-color: #1b5e1f;

}


.body-col {

    background-color: rgba(234, 250, 241, 0.3);

}


 
/*...............................header*/
.header{
 
    margin-left: 0;
    padding: 0;
}


#brand{
    color: #cc5500;
}

.contact-button{
    background-color: #4c7a34;
    transition: 0.2s ease-in-out;
}

.contact-button:hover{
    background-color: #cc5500;
}

/*...............................image and hotspot*/

.hotspot {
    border: none;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 200px;
    background-color: #130b34;
    border-radius: 50%;
    opacity: 0.2;


}

.hotspot:hover {
    opacity: 0.4;
}
/*
.back-image {
    background-image: url(../images/horse_beach.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
  
    text-align: center;
  background-size: auto
}
*/

/*...............................articles*/

.column-in-center {
    float: none;
    margin: 0 auto;
    padding:0;
    
  

}

.feature-main {
    background-color: white;
    border-radius: 25px;
    margin-top: 25px;
    height: 100px;

}






/*...............................media queries*/

@media (min-width: 1200px) {  
 .nav-item:first-child{
     margin-left: 80px;
 } 
   
}


@media (max-width: 320px) {  
 #brand{
   font-size: 10px;
 } 
   
}


