html{
    margin: 0;
    padding: 0;
}

body{
     margin: 0;
    padding: 0;
}




/*...............................colors*/


.purple{
    background-color: purple;
} /*use to set the main container for design purposes*/
.nav-bg-color{
    background-color: #1b5e1f;
}

/*...............................header*/

#nav {
    margin: 0;

}

#nav li {
    padding: 0;
}

/*...............................image and hotspot*/

.hotspot{
  margin: auto;
  margin-top: 160px;
    width: 120px;
    height: 120px;
  background-color: green;
  border-radius: 50%;
  opacity: 0.4;
  
}

.hotspot:hover{
    opacity: 1;
}

.back-image{
    background-image: url(../images/horse_beach.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 500px;
    text-align: center;
}


/*...............................articles*/

.column-in-center{
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
}

.feature-main {
    background-color: red;
    border-radius: 25px;
    margin-top: 25px;
   height: 100px;
}






/*...............................media queries*/

@media(min-width: 992px){
.testing:first-child{
    margin-left: 120px; }
}






